// bower:scss
// endbower
body {
  padding: 0;
}

.navbar{
  min-height: 80px;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 500;
}


.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #ddd;
  color: black;
}

/* Custom page header */
.header {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin-top: -30px;
  background-color: #ddd;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 830px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Search */
.search{
  label{
    font-size: 24px;
  }
  input{
    font-size: 16px;
    height: 44px;
  }
  button{
    height:44px;
  }
}

/*
 * Animation for sidebar container
 */
.slide-animate-container {
  position:relative;
  min-height:600px;
}

.slide{
  padding:0px;
}

.slide.ng-enter,
.slide.ng-leave
{
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
  padding:10px;
}

.slide.ng-enter {
  left: 100%;
}
.slide.ng-enter.ng-enter-active {
  left: 0;
}

.slide.ng-leave {
  left: 0;
}
.slide.ng-leave.ng-leave-active{
  left: -100%;
}

.media>.pull-left {
  margin-right: 10px;
  padding-right: 4px;
}
