<div id="wrapper" ng-model="manage">

  <!-- Sidebar -->
  <div id="sidebar-wrapper" ng-model="curTemplate">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          <img class="img-responsive text-center" src="images/logo.png"
               style="margin-top: 2em; width: 80%;padding-left: 15%;">
        </a>
      </li>
    </ul>

    <div class="sidebar-nav">
      <div style="margin-top: 120px;">
        <ul ng-repeat="template in templates">
          <li>
            <a href ng-click="setTemplate($index)">{{template.name}}</a>
          </li>
        </ul>
      </div>
      <ul>
        <li>
          <a href ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Page Content -->
  <div ng-init="logo = false;" ng-include src="'views/header.html'"></div>
  <div class="container">
    <div class="slide-animate-container">
      <div class="slide" ng-include="curTemplate.url">
      </div>
    </div>
  </div>

</div>

