<div ng-init="logo = true;" ng-include src="'views/header.html'"></div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-9" style="padding: 0 50px;">
        <h1 style="color: #777 !important; font-size: 48px;">
          Welcome to professional connection point. To join our community, click<br> <b class="text-success">REGISTER</b>.
        </h1>
      </div>
      <div class="col-lg-3">
        <p class="lead">
          <img src="images/professional.png" alt="I'm Professional" style="height: 200px;"><br>
        </p>
        <p>
          <a class="btn btn-lg btn-success" ng-href="#/register">
            Register<span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>

  </div>
</div>

<div ng-include src=" 'views/search.html' "></div>
