<div ng-init="logo = true;" ng-include src="'views/header.html'"></div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="text-muted">
          Welcome to professional connection point. To join our community, click <b class="text-success">REGISTER</b>.
        </h1>
      </div>
      <div class="col-lg-3">
        <p class="lead">
          <img src="images/professional.png" alt="I'm Professional" style="height: 200px;"><br>
        </p>
        <p>
          <a class="btn btn-lg btn-success" ng-href="#/register">
            Register<span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>
      </div>
    </div>

  </div>
</div>

<div class="container search">
  <form class="form-horizontal" name="searchform" ng-submit="search()">
    <div class="form-group">
      <label for="inputsearch" class="col-sm-2 control-label">Search</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputsearch" placeholder="John, Doe">
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

